<br>
<div style="text-align:center"><h1>Convênios</h1></div>
<hr>
<DIV class="row">
<div class="span9" style="margin-left:240px">
<div class="row">
	<div class="logo_convenio span2 "><%= image_tag "convenios/amildental.jpg" %></div>
	<div class="logo_convenio span2 "><%= image_tag "convenios/bradescodental.gif" %></div>
	<div class="logo_convenio span2 "><%= image_tag "convenios/metlife.jpeg" %></div>
</div>
<div class="row">
	<div class="logo_convenio span2 "><%= image_tag "convenios/odontoprev.jpg" %></div>
	<div class="logo_convenio span2 "><%= image_tag "convenios/sempreodonto.png" %></div>
	<div class="logo_convenio span2 "><%= image_tag "convenios/sorrisofamilia.png" %></div>
</div>
<div class="row">
	<div class="span2 offset2"><%= image_tag "convenios/unna.png" %></div>
</div>
</div>
</DIV>
<hr>
<div class="row">
	<div class="span9" style="margin-left:168px;">
		<%= image_tag "convenios/carteirinhas.jpg" %>
	</div>
</div>